#title {
  background-image: url(/static/food_header.jpg);
  width: 100%;
  margin-left: -2%;
  margin-right: -2%;
  background-size: cover;
  text-align: right;
  height: 350px;
  padding: 1%;
}

#body {
  background-color: #FCF4D9;
}

.websiteName {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-family:fantasy;
  width: 90%;
  text-decoration: underline;
  margin: 2%;
}

.randomsection {
  text-align: right;
  margin-right: 4%;
  margin-bottom: 3%;
  font-size: 30px;
}

.header {
  text-align: center;
  margin-top: 2%;
  font-size: 50px
}

#randsection {
  background-color: #8ED2C9;
  height: 700px;
  width: 1200px;
  margin-top: 5%;
  border: solid thick black;
  margin-bottom: 5%;
  margin-left: 7%;
}

.randrecipes {
  font-family: inherit;
  font-weight: 100;
  height: 50px;
  margin-right: 3%;
  text-align: right;
  margin-bottom: 0%;
  font-size: 25px;
}

#recipeNames{
  text-align: right;
  margin-right: 3%;
  margin-top: -1%;
  margin-bottom: 3%;
  font-size: 20px;
}
.search_bar {
  margin-top: 7%;
  margin-left: 33%;
  margin-right: 0%;
  margin-bottom: 10%;
  text-align: center;
  color: lightblue;
  font-size: 35px;
  background-color: darkblue;
  height: 200px;
  width: 550px;
  border-radius: 20px;
}

#MagnifyingGlass {
  margin-top: 4.5%;
  background-color: white;
  border: 2px solid black;
  padding: 1px;
}

#bar {
  width: 350px;
  height: 75px;
  margin-top: 5%;
  font-size: 40px;
}

#randomImage {
  height: 550px;
  width: 650px;
  margin-left: 7%;
  margin-top: -47%;
  margin-bottom: 7%;
  align-items: center;

}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
