#home_link {
  width: 50px;
  height: 50px;
  margin-left: 90%;
  background-color: yellow;
  border-radius: 25px;
  margin-top: -1%;
}

#generic_title {
  font-size: 80px;
  margin-left: 7%;
  text-decoration: underline;
  margin-top: -5%;
}

#website_name {
  margin-left: 77%;
  font-style: italic;
  color: darkgray;
  margin-top: 3%;
}
